* {
    box-sizing: border-box;
}

body {
   
    background-color: rgb(255, 255, 255);
    margin: 0;
}

#Header {
    background-color: rgb(247, 227, 227);
    padding: 0.02cm;
}

.logo-name {
    color: rgb(175, 33, 94);
    text-align: center;
    font-family: cursive;
}

.logo {
    color: rgb(175, 33, 94);
    text-align: center;
    height: 5vh;
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#navbar {
    height: 30%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 227, 227);
}

.luxury {
    color:rgb(175, 33, 94);
}

.face {
    color:rgb(175, 33, 94);
}

.eyes {
    color:rgb(175, 33, 94);
}

.lips {
    color:rgb(175, 33, 94)
}

#search {
    outline: 0;
    border: 0;
    border-bottom: 2px solid plum
}



#SearchButton {
    width: auto;
    height: auto;
    object-fit: contain;
    color: rgb(181, 78, 162)
}

#both-buttons {
    display: flex;
    justify-content: space-evenly;
    z-index: 5;
    position: relative;
}


.left-arrow{
    position: relative;
    font-size: 30px;
    color: rgb(175, 33, 94);
}

.right-arrow{
    position: relative;
    font-size: 30px;
    color: rgb(175, 33, 94);
    
}

.lc-arrow {
    color: rgb(51, 49, 49);
    position: absolute;
    font-size: 40px;
    right: 850px;
    bottom: 180px;
}

.rc-arrow {
    font-size: 40px;
    color: rgb(51, 49, 49);
    position: absolute;
    left: 850px;
    bottom: 180px;
    
}


.CardContainer {
    width: 90vw;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    display: flex;
    padding: 30px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px; */
}

#container {
    margin-left: 60px;
    margin-right: 60px;
}

.Card {
    /* background-color: rgb(238, 183, 183); */
    width: 250px;
    height: 300px;
    transition: box-shadow .3s;
    border: solid rgb(175, 33, 94);
    margin: 10px;
}

.Card-image {
    /* background-color: white; */
    float: center;
    align-content: center;
    width: auto;
    height: 200px;
    object-fit: cover;
    justify-content: center;
    text-align: center;
}


.Card:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2); 
}


.Card img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.Card-content h3 {
    text-overflow: ellipsis;
    text-align: left;
    overflow-y: clip;
}

.descrip {
    text-overflow: ellipsis;  
    margin-bottom: 12px;  
    overflow-y: clip;
    white-space: nowrap;
}


.Card-content {
    width: auto;
    height: 32.5%;
    object-fit: contain;
    background-color: rgb(234, 218, 224);
    /* background-image: -webkit-linear-gradient(#fff8e7,#e8dcca); */
    justify-content: center;
}


.favorite{
    text-align: right;
    color: white;
    stroke: gray;
    stroke-width: 2px
}

.favorite:hover {
    color:rgb(237, 50, 178);
}

.not-favorite{
    text-align: right;
    color: rgb(237, 50, 178);   
}
 

.Card-content h3{
    font-size: 15px;
    margin-top: 5px;
    height: 30%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 5px;
    border-radius: 4px;
    position: relative;
    padding: 12pt;
    display: flex;
    font-family: perpetua;
}

/* .Card-content p {
    margin-top: 40px;
    height: 30%;
    width: 50%;
    object-fit: contain;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;

} */

#Favorite-Icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: left;
    border: solid black;

}

.h2 {
    justify-content: center;
    text-align: center;
    font-family: perpetua;
    font-size: 30px;
    margin-top: 20px;
    color:  rgb(175, 33, 94);
  }

  .My-Collection {
    /* display: flex;
    flex-direction: column;  */
    z-index: 1;
    background-image: url(https://e0.pxfuel.com/wallpapers/865/117/desktop-wallpaper-cosmetic-makeup.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-self: center;
    height: auto;
    align-items: center
   /* display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; */


    
  }
  .CollectionTitle {
    justify-content: center;
    z-index: 2;
    text-align: center;
    font-family: perpetua;
    font-size: 45px;
    margin-top: 20px;
    color: rgb(175, 33, 94);
  }

  .My-Collection-Cards {
    border: solid  rgb(247, 227, 227);
    z-index: 3;
    width: 840px;
    height: 350px;
    /* margin: auto; */
    /* height: auto; */
    
    justify-content: space-evenly;
    background-image: linear-gradient(#f5e3c7, #fff8e7, #e8dcca);
    /* object-fit: cover; */
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }






.My-Collection-Cards img {
    object-fit: cover;
    position: relative; 
    width: 200px;
    height: 200px;
}

.delete-icon {
    color: rgb(175, 33, 94);
}

.submit {
    color: rgb(175, 33, 94);
    width: auto;
    height: auto;
    object-fit: contain;
    overflow:auto;
    display: flex;
    justify-content: space-between;
    
}
.Submit-Form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

#Form-Button {
    background-color: rgb(247, 227, 227);
    margin-top:20px;
    margin-bottom: 100px;
}

#NewForm{
    width: 500px;
}

.form-input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid plum
}