* {
    box-sizing: border-box;
}

body {
    background-color: pink;
}

#Header {
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
}

#SearchBar {
    margin: 20px;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

#SearchButton {
    width: auto;
    height: auto;
    object-fit: contain;
    display: flex;
}

#SearchButton img {
    position: relative;
    width: 100%;
    height: 25px;
    object-fit: contain;
}

.CardContainer {
    /* width: 100%;
    height: auto; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px; */
}
.Card {
    background-color: white;
    width: 200px;
    height: 300px;
    border: solid plum;
    margin: 20px;
}

.Card-image {
    background-color: white;
    width: auto;
    height: 65%;
    object-fit: contain;
    border: solid black;
    justify-content: center;
}

.Card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Card-content {
    width: auto;
    height: 35%;
    object-fit: contain;
    justify-content: center;
}

.Card-content h3{
    font-size: 15px;
    margin-top: 5px;
    height: 30%;
    width: 100%;
    object-fit: contain;
    margin-bottom: 5px;
}

.Card-content p {
    margin-top: 40px;
    height: 30%;
    width: 50%;
    object-fit: contain;
    display:flex;
    flex-direction: row;
}

#Favorite-Icon {

}

